kortikoidy/data/
srazlivost/data/
kortikoidy/out_new/
__pycache__/
*/__pycache__/
*.csv
.~lock.*
*.pdf
joined_*/
!/kortikoidy/out/cpzp/*.csv
!/kortikoidy/out/ozp/*.csv
!/kortikoidy/out/both_companies/*.csv
*.pkl
**/matching_rust/target/
kortikoidy/results_baseline.json
